*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #fff;
	color: #000;
	font-size: 15px;
	line-height: 1.5;
	background: #EDF3F3;
}

a
{
	color: #000;
	text-decoration: none;
}

ul
{
	list-style: none;
}

button
{
	border: none;
}

/* Nav */

.main-nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background: #fff;
}

.main-nav ul
{
	display: flex;

}

.main-nav li
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #eee;
}

.main-nav li:last-child
{
	border-right: 1px solid #eee;
}

.main-nav a
{
	height: 60px;
	padding: 20px;
}

.main-nav a:hover
{
	background: #efefef;
	color: #08BEFB
}

.main-nav a.logo:hover
{
	background: #fff;
}

.main-nav ul.main-menu
{
	margin-left: 20px;
}

.main-nav .search-area
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #F5F7F6;
	width: 50%;
	height: 60px;
}

.main-nav .search
{
	width: 100%;
}

.main-nav .search-btn
{
	top: 0;
	position: absolute;
	width: 40px;
	height: 60px;
	border: none;
	margin-left: 20px;
	z-index: 2;
	background: transparent;
	color: #6d6d6d;
	border: none;
    outline:none;
}

.main-nav .search-btn:hover
{
	color: #000;
}

.main-nav .search-btn i
{
	font-size: 17px;
}

.main-nav .search-input
{
	top: 0;
	background: transparent;
	padding: 0 20px 0 70px;
	width: 100%;
	height: 60px;
	border: none;
	outline: none;
}

/* Banner */

.picture
{
	width: 100%;
	height: 300px;
	background: url('./img/bluetheme.png') no-repeat center center/cover;
	margin-bottom: 65px;
}

/* Content */

.container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1140px;
	margin: auto;
}

.home-cards
{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.single-card
{
	width: 350px;
	height: 430px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	margin: 15px;
	background: #fff;
}

.single-card .fa-heart:hover
{
	color: #ff0000;
}

.single-card .fa-comment:hover
{
	color: #FFE400;
}

.single-card .fa-eye:hover
{
	color: #15c6f2;
}

.card-image
{
	overflow: hidden;
	min-height: 250px;
}

.card-title
{
	display: block;
	text-align: center;
	padding: 25px;
	font-weight: 500;
}

.title-navigator:hover
{
	color: #08BEFB;
}

.home-cards ul
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.home-cards li
{
	display: flex;
	justify-content: center;
	background: #EDF3F3;
	border-right: 1px solid #fff;
	padding: 10px;
}

.home-cards i
{
	color: #5F6161;
	padding: 10px;
}

.home-cards li:last-child
{
	border: none;
}

/* Load More */

.load-more
{
	padding: 15px 40px;
	margin-top: 15px;
	margin-bottom: 50px;
	background: #29bef4;
}

.load-more:hover
{
	background: #06a2d6;
}

/* Footer */

.footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #fff;
}

.footer-inner
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1140px;
	margin-top: 40px;
	margin-bottom: 70px;
}

.footer-column
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.social-media
{
	margin-top: 10px;
}

.social-media li
{
	display: inline;
	padding: 20px;
}

.social-media i
{
	font-size: 30px;
	padding: 7px;
}

.footer-title
{
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-paragraph
{
	margin-bottom: 5px;
}

.footer-list
{
	margin-bottom: 5px;
}

.footer ul li
{
	display: inline;
	padding-right: 20px;
}

.footer a:hover
{
	color: #29bef4;
}

.subsribe-area
{
	width: 100%;
	background: #F5F7F6;
}

.subscribe-form
{
	background: #F5F7F6;
	height: 60px;
}

.subscribe-area .subscribe-btn
{
	width: 50px;
	height: 60px;
	position: absolute;
	border: none;
	outline: none;
}

.subscribe-input
{
	width: 100%;
	height: 60px;
	background: #F5F7F6;
	padding-left: 20px;
	outline: none;
	border: none;
}

.subscribe-btn i
{
	font-size: 20px;
	margin: 5px;
}